<h2>Flight Search</h2>

<div class="form-group">
  <label>From</label>
  <input [(ngModel)]="from" class="form-control">
</div>

<div class="form-group">
  <label>To</label>
  <input [(ngModel)]="to" class="form-control">
</div>

<div class="form-group">
  <button class="btn btn-default" (click)="search()">Search</button>
</div>

<table *ngIf="flights.length > 0" class="table table-striped">
<!--
[ngClass]="{ 'active': f == selectedFlight }"
-->
  <tr *ngFor="let f of flights" [ngStyle]="{ 'background-color': (f == selectedFlight) ? 'orange': '' }">
    <td>{{f.id}}</td>
    <td>{{f.from}}</td>
    <td>{{f.to}}</td>
    <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
    <td><a (click)="select(f)">Select</a></td>
  </tr>
</table>

<pre>Warenkorb
------------------
{{selectedFlight | json}}
</pre>
