<h1>Flight Edit</h1>

<form [formGroup]="form">

  <div>{{form.errors | json }}</div>

  <div style="position:relative; z-index: 100" *ngIf="exitWarning.show" class="alert alert-warning">
    <div>
      Daten wurden nicht gespeichert! Trotzdem Maske verlassen?
    </div>
    <div>
      <a href="javascript:void(0)" (click)="decide(true)" class="btn btn-danger">Ja</a>
      <a href="javascript:void(0)" (click)="decide(false)" class="btn btn-default">Nein</a>
    </div>
  </div>




  <div class="control-group">
    <label>Id</label>
    <input formControlName="id" class="form-control">
  </div>
  <div class="control-group">
    <label>From</label>
    <input formControlName="from" class="form-control">
    <validation-errors [errors]="form.controls.from.errors"></validation-errors>
  </div>
  <div class="control-group">
    <label>To</label>
    <input formControlName="to" class="form-control">
  </div>

  <div class="control-group">
    <label>Date</label>
    <input formControlName="date" class="form-control">
  </div>


</form>
