<h2>Flight Search</h2>

<form #f="ngForm" roundTrip>

  <div *ngIf="!f?.valid">
    {{ f?.errors | json}}
  </div>
  <div *ngIf="f?.hasError('roundTrip')">
    No RoundTrips!
  </div>

<div class="form-group">
  <label>From</label>
  <input
    required
    minlength="3"
    pattern="[A-Za-zöäüßÖÄÜ]*"
    name="from"
    asyncCity
    city="Basel,Frankfurt,Graz,Wien,Hamburg,Zürich,Berlin,Paris"
    [(ngModel)]="from"
    class="form-control">

    <div *ngIf="!f?.controls?.from?.valid">Fehler ...</div>
    <div *ngIf="f?.controls?.from?.hasError('required')">Required ...</div>
    <div *ngIf="f?.controls?.from?.hasError('minlength')">Minlength ...</div>
    <div *ngIf="f?.controls?.from?.hasError('pattern')">Pattern...</div>
    <div *ngIf="f?.controls?.from?.hasError('city')">City...</div>
    <div><pre>{{f?.controls?.from?.errors | json}}</pre></div>
    <div *ngIf="f?.controls?.from?.pending">
      <marquee direction="down">Validierung wird ausgeführt!</marquee>
    </div>
  <hr>
    <validation-errors [errors]="f?.controls?.from?.errors"></validation-errors>
</div>

<div class="form-group">
  <label>To</label>
  <input [(ngModel)]="to" name="to" class="form-control">
</div>

<div class="form-group">
  <button class="btn btn-default" [disabled]="!f?.valid" (click)="search()">Search</button>
</div>
</form>

<div class="row">
<div *ngFor="let f of flights$ | async" style="margin-bottom: 20px" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

  <flight-card
    [item]="f"
    [selected]="basket[f.id]"
    (selectedChange)="select(f, $event)">

    <!-- [(selected)]="basket[f.id]" -->
    <!-- (selectedChange)="basket[f.id] = $event" -->
  </flight-card>

  <div class="card">
    Delayed: {{f.delayed}} |
    <a (click)="changeState(f, true)">Delayed</a> |
    <a (click)="changeState(f, false)">In Time</a>
  </div>


</div>
</div>

<div class="row card">
  <pre>{{ statistic$ | async | json }}</pre>
</div>

<!--
<table *ngIf="flights.length > 0" class="table table-striped">

  <tr *ngFor="let f of flights" [ngStyle]="{ 'background-color': (f == selectedFlight) ? 'orange': '' }">
    <td>{{f.id}}</td>
    <td>{{f.from | city:'short'}}</td>
    <td>{{f.to | city:'long' }}</td>
    <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
    <td><a (click)="select(f)">Select</a></td>
  </tr>
</table>
-->

<div class="row">
<pre>Warenkorb
------------------
{{basket | json}}
</pre>
</div>
